.home-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .container {
    flex-grow: 1;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .large-container {
    margin-left: 80px; /* when sidebar is hidden */
  }
  